REDIS_URL=redis://localhost:6379/0
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/graph
DATABASE_URL_ASYNC=postgresql+asyncpg://postgres:postgres@localhost:5432/graph

CREATE_API_KEY=change-this-create-api-key-secret
PASSWORD_RESET_KEY=change-this-password-reset-secret
TWO_FACTOR_AUTH_KEY=change-this-2fa-secret
SESSION_KEY=change-this-session-secret

API_KEY=change-this-internal-api-key
URL_NOTIFICATION_SYSTEM=http://localhost:8080

WEBHOOK_SECRET=change-this-webhook-secret
